.input-date, .input-text, select {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.btn-green {
  background-color: #22c55e;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
}
.btn-red {
  background-color: #ef4444;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  margin-left: 10px;
}
